@import 'variables.scss';
@import 'mixins.scss';

//*************************
//******** GLOBAL  ********
//*************************

body {
  text-align: center;
  font-weight: 400;
  padding: 0;
  margin: 0;
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  color: $fontBasic;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.container-fluid, .row {
  padding: 0;
  margin: 0;
}

.dark-overlay {
  position: absolute;
  background-color: darken($fontDark, 10%);
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.8;
}

.highlight {
  @include shadow-text();
  color: $accent;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: darken($fontDark, 20%);
}

::-webkit-scrollbar-thumb {
  @include accent-gradient();
}

//*************************
//******** NAVBAR  ********
//*************************

.navbar {
  @include background-dark();
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  border-bottom: none;
  margin-bottom: 0;
  padding: 10px;
  font-size: 1.3em;
  i {
    margin-right: 0.5em;
  }
  .navbar-brand {
    color: $accent;
    .navbar-photo {
      @include custom-transition();
      width: 50px;
      border-radius: 100%;
      margin-right: 12px;
    }
    @include custom-transition();
    font-size: 1.5em;
    &:hover {
      color: $accent;
      cursor: pointer;
      .navbar-photo {
        transform: scaleX(-1);
      }
    }
  }
  .navbar-header {
    min-height: 75px;
  }
  .navbar-toggle {
    margin-top: 20px;
  }
}

.navbar-inverse .navbar-nav > li > a {
  transition: all 0.5s;
  margin: 10px;
  color: darken($fontBasic, 20%);
  border-radius: 2px 2px 0 0;
  border-bottom: 3px solid transparent;
  &:hover {
    @include shadow-text();
    border-color: $accent;
    color: $accent;
    cursor: pointer;
  }
}

//*************************
//********* HOME  *********
//*************************

section.home {
  @include shadow-text();
  position: relative;
  background: no-repeat center scroll;
  text-align: center;
  background-image: url(../media/tools.jpg);
  background-size: cover;
  @media #{$medium}{
    background-size: 100%;
    background-attachment: fixed;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 0 300px;
    border-color: transparent transparent transparent #050505;
    @media #{$small}{
      border-width: 50px 0 0 400px;
    }
    @media #{$medium}{
      border-width: 70px 0 0 650px;
    }
    @media #{$large}{
      border-width: 70px 0 0 800px;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 40px 300px;
    border-color: transparent transparent #050505 transparent;
    @media #{$small}{
      border-width: 0 0 50px 400px;
    }
    @media #{$medium}{
      border-width: 0 0 70px 650px;
    }
    @media #{$large}{
      border-width: 0 0 70px 800px;
    }
  }
  .container-fluid {
    padding: 4em;
    @media #{$small}{
      padding: 8em;
    }
    @media #{$medium}{
      padding: 10em 3em;
    }
  }
  h2 {
    font-size: 2em;
    @media #{$small}{
      font-size: 3em
    }
  }
  i {
    @include background-dark();
    font-size: 3em;
    margin: 0.2em;
    color: $fontBasic;
    padding: 0.5em;
    border-radius: 100%;
  }
  .btn-custom {
    @include flex-align();
    @include shadow-content();
    @include background-dark();
    color: $fontBasic;
    font-size: 1em;
    width: 90%;
    transition: all 0.5s;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1em 3em 1.2em 3em;
    letter-spacing: 0.06em;
    border: 3px solid transparent;
    &:hover {
      @include shadow-text();
      border-bottom-color: $accent;
      color: $accent;
    }
    @media #{$small}{
      width: 60%;
    }
    @media #{$medium}{
      width: 30%;
    }
  }
}

//*************************
//******** ABOUT  *********
//*************************

section.about {
  @include background-dark();
  color: $fontDark;
  padding: 2em .5em;
  padding-top: 4em;
  @media #{$medium}{
    padding: 10em 3em;
    padding-bottom: 5em;
  }
  h1, h2 {
    text-align: left;
    margin-bottom: 0;
    color: darken($fontBasic, 30%);
  }
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  h2 {
    padding: 0 0.5em;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 0;
  }
  h3 {
    text-align: justify;
    color: darken($fontBasic, 30%);
    font-size: 1.2em;
    padding: 0 0.5em;
    text-shadow: -2px 2px 2px black;
    @media #{$small} {
      padding-right: 2em;
    }
  }
  i {
    color: darken($fontBasic, 30%);
    margin: .3em;
    @media #{$medium} {
      margin-right: .5em;
    }
  }
  .about-photo {
    position: relative;
    z-index: 1;
    img {
      @include accent-gradient();
      display: none;
      transform: scaleX(-1);
      @media #{$large}{
        display: block;
      }
      @media #{$large} {
        margin: 1.5em 3em 0 -5em;
        border-radius: 10px;
      }
    }
  }
  .about-content {
    position: relative;
    z-index: 2;
    padding: 1em;
    border-radius: 12px;
    @media #{$medium}{
      padding: 4em;
      padding-top: 3em;
      border-radius: 15px;
    }
    @media #{$large} {
      &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        left: -60px;
        top: 150px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 300px 0 300px 500px;
        border-color: transparent transparent transparent $accent;
        opacity: .3;
      }
    }
  }
}

//*************************
//********* WORK  *********
//*************************

section.work {
  @include background-dark();
  text-align: center;
  color: $fontDark;
  padding: 3em 1em;
  @media #{$medium}{
    padding: 6em;
    padding-top: 0;
  }
  .project {
    @include custom-transition();
    position: relative;
    z-index: 3;
    height: 300px;
    margin: -15px;
    overflow: hidden;
  }
  .tile-1 {
    @include custom-transition();
    @include flex-align();
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
  }
  .tile-2 {
    @include flex-align();
    @include shadow-text();
    @include custom-transition();
    background: rgba(111, 111, 111, .1);
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    bottom: -300px;
    color: $fontBasic;
    overflow: hidden;
    &:before {
      @include accent-gradient();
      @include shadow-content();
      content: '';
      position: absolute;
      display: block;
      width: 130px;
      height: 20px;
      top: 70px;
      transform: rotate(30deg);
    }
    i {
      @include accent-gradient();
      @include shadow-content();
      font-size: 3em;
      padding: 0.5em;
      display: block;
      color: $fontDark;
      border: 3px solid $accent;
      border-radius: 100%;
      position: relative;
    }
    h4 {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 1.5em;
    }
    .content {
      width: 100%;
      margin-top: 1em;
      ul {
        text-transform: uppercase;
        font-size: .9em;
        text-align: left;
        list-style-type: none;
        li{
          position: relative;
          color: darken($fontBasic, 20%);
          margin-left: 10px;
          @media #{$large} {
            margin-left: 60px;
          }
          &:before {
            @include accent-gradient();
            content: '';
            position: absolute;
            display: block;
            top: 3px;
            left: -20px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
          }
        }
      }
    }

  }
  .project:hover > .tile-1 {
    bottom: 300px;
  }
  .project:hover > .tile-2 {
    bottom: 0;
  }
  .house {
    background: url(../media/house.jpg) center no-repeat;
    background-size: cover;
    border-radius: 10px 0 0 10px;
  }
  .paint {
    background: url(../media/paint.jpg) center no-repeat;
    background-size: cover;
  }
  .plumb {
    background: url(../media/plumb.jpg) center no-repeat;
    background-size: cover;
    border-radius: 0 10px 10px 0;
  }
}

//*************************
//******* CONTACT  ********
//*************************

section.contact {
  background: url("../media/contact.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  color: $fontBasic;
  text-align: center;
  background-attachment: fixed;
  margin-bottom: -3px;
  h1 {
    border: 1px solid darken($fontDark, 2%);
    background-color: rgba(50, 50, 50, .5);
    padding: 1em 0;
    font-size: 2.2em;
    margin: .5em;
    margin-bottom: -.5em;
  }
  .container-fluid {
    padding: 1em;
    @media #{$medium}{
      padding: 6em 3em;
    }
  }
  //CONTACT FORM
  form {
    font-size: 1.3em;
    input, textarea {
      background: darken($fontDark, 1%);
      outline: none;
      margin: 1em 0;
      min-height: 2em;
      border: none;
      text-align: center;
      color: lighten($fontDark, 40%);
      font-size: .8em;
    }
    span.fa {
      margin-right: 0.5em;
      margin-top: 0.5em;
      color: $accent;
    }
  }
  .form-info {
    border: none;
    padding: 1em 0;
    @media #{$medium} {
      border: 1px solid darken($fontDark, 2%);
      background-color: rgba(50, 50, 50, .5);
    }
    border-radius: 3px;
    .form-photo {
      border-radius: 100%;
      width: 200px;
      margin: 0 auto;
      margin-bottom: 1em;
      filter: grayscale(100%);
      border: 3px solid $fontDark;
    }
    input#contactform-email, input#contactform-name {
      width: 100%;
      @media #{$small} {
        width: 50%;
      }
      @media #{$medium} {
        width: 80%;
      }
    }
  }
  .form-message {
    padding: 0;
    @media #{$medium} {
      padding: 2.6em 0;
      border: 1px solid darken($fontDark, 2%);
      background-color: rgba(50, 50, 50, .5);
    }
    .contactform-message {
      background: $fontDark;
      padding: 1em 0;
      padding-top: 2em;
      margin: 1em 0;
      width: 100%;
      min-height: 13em;
      @media #{$small} {
        width: 80%;
      }
      @media #{$medium} {
        width: 90%;
        padding-top: 5em;
      }
    }
    input[type="submit"] {
      @include custom-transition();
      @include accent-gradient();
      border: none;
      color: darken($fontDark, 5%);
      padding: 0.4em 3em;
      font-weight: bold;
      font-size: 1em;
      border-radius: 3px;
      &:hover {
        cursor: pointer;
        background-image: linear-gradient(-120deg, #f6d365 0%, $accent 100%);
      }
    }
  }
}

//*************************
//******** FOOTER  ********
//*************************

footer {
  @include background-dark();
  padding: 1em 0;
  @media #{$small}{
    padding: 4em 0;
  }
  .footer-up {
    a {
      display: inline-block;
      text-align: center;
      width: 1.8em;
      height: 1.8em;
      font-size: 1.5em;
      margin: 1em 0;
      margin-right: 0.2em;
      padding-top: 0.1em;
      border-radius: 100%;
      transition: all 0.5s;
      border: 2px solid $accent;
      text-decoration: none;
      color: $accent;
      &:hover {
        color: $fontBasic;
        border-color: $fontBasic;
      }
    }
    h3 {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 1em;
    }
    ul {
      list-style-type: none;
      color: $accent;
      margin: 0;
      padding: 0;
    }
    .column {
      text-align: justify;
      padding-bottom: 2em;
    }
    .column-info {
      h3 {
        text-align: left;
      }
    }
    .column-stats {
      text-align: center;
      @media #{$medium} {
        padding: 0 8em;
      }
      h3 {
        font-size: 2em;
        color: $accent;
        @media #{$small} {
          font-size: 3em;
        }
        @media #{$medium} {
          font-size: 4em;
        }
      }
      p {
        margin-top: -1em;
        font-size: .6em;
        font-weight: bold;
        @media #{$small} {
          font-size: .9em;
        }
      }
    }
    .column-invite {
      h3 {
        text-align: center;
        @media #{$small} {
          text-align: right;
        }
      }
      text-align: center;
      @media #{$small} {
        text-align: right;
      }
    }
  }
  .footer-down {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-align: left;
    margin-top: 0;
    @media #{$medium}{
      margin-top: 4em;
    }
    a {
      transition: all 0.5s;
      text-decoration: none;
      color: $accent;
      &:hover {
        color: darken($accent, 20%);
      }
    }
    p {
      margin-bottom: 2em;
    }
  }
}

//*************************
//******** OWNERS  ********
//*************************

span.sources {
  font-size: .7em;
}