@import 'variables.scss';
@import 'mixins.scss';

//*************************
//******** GLOBAL  ********
//*************************

body {
  text-align: justify;
  padding: 0;
  margin: 0;
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  color: $fontBasic;
}

.container-fluid, .row {
  padding: 0;
  margin: 0;
}

.dark-overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.6;
}

.highlight {
  color: $accent;
}

html {font-size: 1em;}

body {
  font-weight: 400;
  line-height: 1.45;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}


//*************************
//******** NAVBAR  ********
//*************************

.navbar {
  @include background-dark();
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  border-bottom: none;
  margin-bottom: 0;
  padding: 10px;
  font-size: 1.3em;
  i {
    margin-right: 0.5em;
  }
  .navbar-brand {
    margin: 10px;
    transition: all 0.5s;
    color: $accent;
    font-size: 1.5em;
    &:hover {
      color: $fontBasic;
      cursor: pointer;
    }
  }
}

.navbar-inverse .navbar-nav > li > a {
  transition: all 0.5s;
  margin: 10px;
  color: darken($fontBasic, 20%);
  border-radius: 2px 2px 0 0;
  border-bottom: 3px solid transparent;
  &:hover {
    @include shadow-text();
    background-color: darken($accent,20%);
    border-color: darken($accent, 5%);
    color: $fontBasic;
    cursor: pointer;
  }
}

//*************************
//********* HOME  *********
//*************************

section.home {
  @include shadow-text();
  position: relative;
  background: no-repeat center scroll;
  text-align: center;
  background-image: url(../img/home.jpg);
  background-size: 150%;
  @media #{$medium}{
    background-size: 100%;
    background-attachment: fixed;
  }
  .container-fluid {
    padding: 3em;
    @media #{$small}{
      padding: 8em;
    }
    @media #{$medium}{
      padding: 10em 3em;
    }
  }
  i {
    @include background-dark();
    font-size: 3em;
    margin: 0.2em;
    color: $fontBasic;
    padding: 0.5em;
    border-radius: 100%;
  }
  .btn-custom {
    @include flex-align();
    @include shadow-content();
    @include background-dark();
    color: $fontBasic;
    font-size: 1em;
    width: 30%;
    transition: all 0.5s;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1em 3em;
    letter-spacing: 0.06em;
    border: .5px solid transparent;
    &:hover {
      @include shadow-text();
      border-color: $accent;
      color: $accent;
    }
    display: none;
    @media #{$medium}{
      display: block;
    }
  }
}

//*************************
//******** ABOUT  *********
//*************************

section.about {
  @include background-light();
  color: $fontDark;
  padding: 1em;
  i {
    color: $accent;
    margin-right: 0.5em;
  }
  .about-content {
  }
  img {
    @include accent-gradient();
    padding: 5px;
    display: none;
    @media #{$medium}{
      display: block;
    }
  }
  .divider-flat {
    @include accent-gradient();
    display: block;
    width: 100%;
    height: 0.3em;
    margin: 1em 0;
  }
  @media #{$medium}{
    padding: 15em 3em;
    padding-bottom: 5em;
  }
}

//*************************
//********* WORK  *********
//*************************

section.work {
  @include background-light();
  text-align: center;
  color: $fontDark;
  @media #{$medium}{
    padding: 8em 3em;
  }
  .project {
    @include accent-gradient();
    position: relative;
    height: 300px;
    border: 3px solid $accent;
    margin: 1em;
    transition: all 1s;
    overflow: hidden
  }
  .tile-1 {
    @include flex-align();
    transition: all 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .tile-2 {
    @include flex-align();
    @include accent-gradient();
    @include shadow-text();
    transition: all 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    top: -300px;
    color: $fontBasic;
    i {
      @include shadow-content();
      @include background-dark();
      font-size: 3em;
      padding: 0.5em;
      display: block;
      color: $fontBasic;
      border: 3px solid $accent;
      border-radius: 100%;
    }
    .content {
      @include background-dark();
      margin-top: 1em;
      border: 3px solid $accent;
      border-radius: 1em;
      padding: 1em;
      width: 90%;
      ul {
        text-align: left;
        list-style-type: square;
      }
    }

  }
  .project:hover > .tile-1 {
    top: 300px;
  }
  .project:hover > .tile-2 {
    top: 0;
  }
  .house {
    background: url(../img/house.jpg) center no-repeat;
    background-size: cover;
  }
  .paint {
    background: url(../img/paint.jpg) center no-repeat;
    background-size: cover;
  }
  .plumb {
    background: url(../img/plumb.jpg) center no-repeat;
    background-size: cover;
  }
}

//*************************
//******* CONTACT  ********
//*************************

section.contact {
  background: url("../img/contact.jpg") no-repeat center;
  background-attachment: scroll;
  background-size: 100%;
  position: relative;
  color: $fontBasic;
  text-align: center;
  @media #{$medium}{
    background-attachment: fixed;
  }
  a {
    @include background-dark();
    text-decoration: none;
    transition: all 0.5s;
    color: $fontBasic;
    display: inline-block;
    margin: 0.1em;
    padding-top: 0.3em;
    border-radius: 100%;
    border: 1px solid $fontBasic;
    width: 2.1em;
    height: 2.1em;
    font-size: 1.5em;
    position: relative;
    &:hover {
      color: $accent;
      border-color: $accent;
      cursor: pointer;
    }
    @media #{$medium}{
      padding-top: 0.5em;
      width: 2.5em;
      height: 2.5em;
      font-size: 3em;
      border: 3px solid $fontBasic;
    }
  }
  .container-fluid {
    padding: 1em;
    @media #{$medium}{
      padding: 8em 3em;
    }
  }
}

//*************************
//******** FOOTER  ********
//*************************

footer {
  @include background-dark();
  padding: 1em;
  @media #{$medium}{
    padding: 5em 3em;
  }
  .footer-up {
    a {
      display: inline-block;
      text-align: center;
      width: 1.8em;
      height: 1.8em;
      font-size: 1.5em;
      margin-right: 0.2em;
      padding-top: 0.1em;
      border-radius: 100%;
      transition: all 0.5s;
      border: 2px solid $accent;
      text-decoration: none;
      color: $accent;
      &:hover {
        color: $fontBasic;
        border-color: $fontBasic;
      }
    }
    h3 {
      text-align: center;
      margin-bottom: 0.5em;
    }
    ul {
      text-transform: uppercase;
      list-style-type: none;
      color: $accent;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .invite {
      text-align: center;
    }
    .tile {
      padding-bottom: 2em;
    }
  }
  .footer-down {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 3em 0;
    text-align: center;
    margin-top: 0;
    @media #{$medium}{
      margin-top: 4em;
    }
    a {
      transition: all 0.5s;
      text-decoration: none;
      color: $accent;
      &:hover {
        color: darken($accent, 20%);
      }
    }
  }
}