body {
  text-align: center;
  font-weight: 400;
  padding: 0;
  margin: 0;
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  color: #eaeaea; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

.container-fluid, .row {
  padding: 0;
  margin: 0; }

.dark-overlay {
  position: absolute;
  background-color: #0c0c0c;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.8; }

.highlight {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  color: #ffe147; }

::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  background: black; }

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(120deg, #f6d365 0%, #ffe147 100%); }

.navbar {
  background: #050505;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  border-bottom: none;
  margin-bottom: 0;
  padding: 10px;
  font-size: 1.3em; }
  .navbar i {
    margin-right: 0.5em; }
  .navbar .navbar-brand {
    color: #ffe147;
    transition: color .3s, background .3s, transform .3s, top .3s, bottom .3s,  background-image .3s;
    font-size: 1.5em; }
    .navbar .navbar-brand .navbar-photo {
      transition: color .3s, background .3s, transform .3s, top .3s, bottom .3s,  background-image .3s;
      width: 50px;
      border-radius: 100%;
      margin-right: 12px; }
    .navbar .navbar-brand:hover {
      color: #ffe147;
      cursor: pointer; }
      .navbar .navbar-brand:hover .navbar-photo {
        transform: scaleX(-1); }
  .navbar .navbar-header {
    min-height: 75px; }
  .navbar .navbar-toggle {
    margin-top: 20px; }

.navbar-inverse .navbar-nav > li {
  display: inline-block;
  box-sizing: border-box;
  width: calc(50% - 40px); }
  @media only screen and (min-width: 768px) {
    .navbar-inverse .navbar-nav > li {
      width: auto;
      display: block; } }

.navbar-inverse .navbar-nav > li > a {
  transition: all 0.5s;
  margin: 10px;
  color: #b7b7b7;
  border-radius: 2px 2px 0 0;
  border-bottom: 3px solid transparent; }
  .navbar-inverse .navbar-nav > li > a:hover {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    color: #ffe147;
    cursor: pointer; }
    @media only screen and (min-width: 768px) {
      .navbar-inverse .navbar-nav > li > a:hover {
        width: auto;
        display: block;
        border-color: #ffe147; } }

section.home {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  background: no-repeat center scroll;
  text-align: center;
  background-image: url(../media/tools.jpg);
  background-size: cover; }
  @media only screen and (min-width: 992px) {
    section.home {
      background-size: 100%;
      background-attachment: fixed; } }
  section.home .container-fluid {
    padding: 4em; }
    @media only screen and (min-width: 768px) {
      section.home .container-fluid {
        padding: 8em; } }
    @media only screen and (min-width: 992px) {
      section.home .container-fluid {
        padding: 14em 3em; } }
  section.home:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 0 300px;
    border-color: transparent transparent transparent #050505; }
    @media only screen and (min-width: 768px) {
      section.home:before {
        border-width: 50px 0 0 400px; } }
    @media only screen and (min-width: 992px) {
      section.home:before {
        border-width: 70px 0 0 650px; } }
    @media only screen and (min-width: 1200px) {
      section.home:before {
        border-width: 70px 0 0 800px; } }
  section.home:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 40px 300px;
    border-color: transparent transparent #050505 transparent; }
    @media only screen and (min-width: 768px) {
      section.home:after {
        border-width: 0 0 50px 400px; } }
    @media only screen and (min-width: 992px) {
      section.home:after {
        border-width: 0 0 70px 650px; } }
    @media only screen and (min-width: 1200px) {
      section.home:after {
        border-width: 0 0 70px 800px; } }
  section.home h2 {
    font-size: 2em; }
    @media only screen and (min-width: 768px) {
      section.home h2 {
        font-size: 3em; } }
  section.home i {
    background: #050505;
    font-size: 3em;
    margin: 0.2em;
    color: #eaeaea;
    padding: 0.5em;
    border-radius: 100%; }
  section.home .btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #050505;
    color: #eaeaea;
    font-size: 1em;
    width: 90%;
    transition: all 0.5s;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1em 3em 1.2em 3em;
    letter-spacing: 0.06em;
    border: 3px solid transparent; }
    section.home .btn-custom:hover {
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      border-bottom-color: #ffe147;
      color: #ffe147; }
    @media only screen and (min-width: 768px) {
      section.home .btn-custom {
        width: 60%; } }
    @media only screen and (min-width: 992px) {
      section.home .btn-custom {
        width: 30%; } }

section.about {
  background: #050505;
  color: #252525;
  padding: 2em .5em;
  padding-top: 4em; }
  @media only screen and (min-width: 992px) {
    section.about {
      padding: 10em 3em;
      padding-bottom: 5em; } }
  section.about h1, section.about h2 {
    text-align: left;
    margin-bottom: 0;
    color: #9e9e9e; }
  section.about h1 {
    font-size: 2em;
    font-weight: bold; }
  section.about h2 {
    padding: 0 0.5em;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 0; }
  section.about h3 {
    text-align: justify;
    color: #9e9e9e;
    font-size: 1.2em;
    padding: 0 0.5em;
    text-shadow: -2px 2px 2px black; }
    @media only screen and (min-width: 768px) {
      section.about h3 {
        padding-right: 2em; } }
  section.about i {
    color: #9e9e9e;
    margin: .3em; }
    @media only screen and (min-width: 992px) {
      section.about i {
        margin-right: .5em; } }
  section.about .about-photo {
    position: relative;
    z-index: 1; }
    section.about .about-photo img {
      background-image: linear-gradient(120deg, #f6d365 0%, #ffe147 100%);
      display: none;
      transform: scaleX(-1); }
      @media only screen and (min-width: 1200px) {
        section.about .about-photo img {
          display: block; } }
      @media only screen and (min-width: 1200px) {
        section.about .about-photo img {
          margin: 1.5em 3em 0 -5em;
          border-radius: 10px; } }
  section.about .about-content {
    position: relative;
    z-index: 2;
    padding: 1em;
    border-radius: 12px; }
    @media only screen and (min-width: 992px) {
      section.about .about-content {
        padding: 4em;
        padding-top: 3em;
        border-radius: 15px; } }

section.work {
  background: #050505;
  text-align: center;
  color: #252525;
  padding: 3em 1em; }
  @media only screen and (min-width: 992px) {
    section.work {
      padding: 6em;
      padding-top: 0; } }
  section.work .project {
    transition: color .3s, background .3s, transform .3s, top .3s, bottom .3s,  background-image .3s;
    position: relative;
    z-index: 3;
    height: 300px;
    overflow: hidden;
    margin-bottom: 50px; }
  section.work .tile-1 {
    transition: color .3s, background .3s, transform .3s, top .3s, bottom .3s,  background-image .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0; }
  section.work .tile-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    transition: color .3s, background .3s, transform .3s, top .3s, bottom .3s,  background-image .3s;
    background: rgba(111, 111, 111, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    bottom: -300px;
    color: #eaeaea;
    overflow: hidden; }
    section.work .tile-2:before {
      background-image: linear-gradient(120deg, #f6d365 0%, #ffe147 100%);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      content: '';
      position: absolute;
      display: block;
      width: 130px;
      height: 20px;
      top: 70px;
      transform: rotate(30deg); }
    section.work .tile-2 i {
      background-image: linear-gradient(120deg, #f6d365 0%, #ffe147 100%);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      font-size: 3em;
      padding: 0.5em;
      display: block;
      color: #252525;
      border: 3px solid #ffe147;
      border-radius: 100%;
      position: relative; }
    section.work .tile-2 h4 {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 1.5em; }
    section.work .tile-2 .content {
      width: 100%;
      margin-top: 1em; }
      section.work .tile-2 .content ul {
        text-transform: uppercase;
        font-size: .9em;
        text-align: left;
        list-style-type: none; }
        section.work .tile-2 .content ul li {
          position: relative;
          color: #b7b7b7;
          margin-left: 10px; }
          @media only screen and (min-width: 1200px) {
            section.work .tile-2 .content ul li {
              margin-left: 60px; } }
          section.work .tile-2 .content ul li:before {
            background-image: linear-gradient(120deg, #f6d365 0%, #ffe147 100%);
            content: '';
            position: absolute;
            display: block;
            top: 3px;
            left: -20px;
            width: 10px;
            height: 10px;
            border-radius: 100%; }
  section.work .project:hover > .tile-1 {
    bottom: 300px; }
  section.work .project:hover > .tile-2 {
    bottom: 0; }
  section.work .house {
    background: url(../media/house.jpg) center no-repeat;
    background-size: cover; }
  section.work .paint {
    background: url(../media/paint.jpg) center no-repeat;
    background-size: cover; }
  section.work .plumb {
    background: url(../media/plumb.jpg) center no-repeat;
    background-size: cover; }

section.contact {
  background: url("../media/contact.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  color: #eaeaea;
  text-align: center;
  background-attachment: fixed;
  margin-bottom: -3px; }
  section.contact h1 {
    border: 1px solid #202020;
    background-color: rgba(50, 50, 50, 0.5);
    padding: 1em 0;
    font-size: 2.2em;
    margin: .5em;
    margin-bottom: -.5em; }
  section.contact .container-fluid {
    padding: 1em; }
    @media only screen and (min-width: 992px) {
      section.contact .container-fluid {
        padding: 6em 3em; } }
  section.contact form {
    font-size: 1.3em; }
    section.contact form input, section.contact form textarea {
      background: #222222;
      outline: none;
      margin: 1em 0;
      min-height: 2em;
      border: none;
      text-align: center;
      color: #8b8b8b;
      font-size: .8em; }
    section.contact form span.fa {
      margin-right: 0.5em;
      margin-top: 0.5em;
      color: #ffe147; }
  section.contact .form-info {
    border: none;
    padding: 1em 0;
    border-radius: 3px; }
    @media only screen and (min-width: 992px) {
      section.contact .form-info {
        border: 1px solid #202020;
        background-color: rgba(50, 50, 50, 0.5); } }
    section.contact .form-info .form-photo {
      border-radius: 100%;
      width: 200px;
      margin: 0 auto;
      margin-bottom: 1em;
      filter: grayscale(100%);
      border: 3px solid #252525; }
    section.contact .form-info input#contactform-email, section.contact .form-info input#contactform-name {
      width: 100%; }
      @media only screen and (min-width: 768px) {
        section.contact .form-info input#contactform-email, section.contact .form-info input#contactform-name {
          width: 50%; } }
      @media only screen and (min-width: 992px) {
        section.contact .form-info input#contactform-email, section.contact .form-info input#contactform-name {
          width: 80%; } }
  section.contact .form-message {
    padding: 0; }
    @media only screen and (min-width: 992px) {
      section.contact .form-message {
        padding: 2.6em 0;
        border: 1px solid #202020;
        background-color: rgba(50, 50, 50, 0.5); } }
    section.contact .form-message .contactform-message {
      background: #252525;
      padding: 1em 0;
      padding-top: 2em;
      margin: 1em 0;
      width: 100%;
      min-height: 13em; }
      @media only screen and (min-width: 768px) {
        section.contact .form-message .contactform-message {
          width: 80%; } }
      @media only screen and (min-width: 992px) {
        section.contact .form-message .contactform-message {
          width: 90%;
          padding-top: 5em; } }
    section.contact .form-message input[type="submit"] {
      transition: color .3s, background .3s, transform .3s, top .3s, bottom .3s,  background-image .3s;
      background-image: linear-gradient(120deg, #f6d365 0%, #ffe147 100%);
      border: none;
      color: #181818;
      padding: 0.4em 3em;
      font-weight: bold;
      font-size: 1em;
      border-radius: 3px; }
      section.contact .form-message input[type="submit"]:hover {
        cursor: pointer;
        background-image: linear-gradient(-120deg, #f6d365 0%, #ffe147 100%); }

footer {
  background: #050505;
  padding: 1em 0; }
  @media only screen and (min-width: 768px) {
    footer {
      padding: 4em 0; } }
  footer .footer-up a {
    display: inline-block;
    text-align: center;
    width: 1.8em;
    height: 1.8em;
    font-size: 1.5em;
    margin: 1em 0;
    margin-right: 0.2em;
    padding-top: 0.1em;
    border-radius: 100%;
    transition: all 0.5s;
    border: 2px solid #ffe147;
    text-decoration: none;
    color: #ffe147; }
    footer .footer-up a:hover {
      color: #eaeaea;
      border-color: #eaeaea; }
  footer .footer-up h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em; }
  footer .footer-up p {
    font-size: 1em; }
  footer .footer-up ul {
    list-style-type: none;
    color: #ffe147;
    margin: 0;
    padding: 0; }
  footer .footer-up .column {
    text-align: justify;
    padding-bottom: 2em; }
  footer .footer-up .column-info h3 {
    text-align: left; }
  footer .footer-up .column-stats {
    text-align: center; }
    @media only screen and (min-width: 992px) {
      footer .footer-up .column-stats {
        padding: 0 8em; } }
    footer .footer-up .column-stats h3 {
      font-size: 2em;
      color: #ffe147; }
      @media only screen and (min-width: 768px) {
        footer .footer-up .column-stats h3 {
          font-size: 3em; } }
      @media only screen and (min-width: 992px) {
        footer .footer-up .column-stats h3 {
          font-size: 4em; } }
    footer .footer-up .column-stats p {
      margin-top: -1em;
      font-size: .6em;
      font-weight: bold; }
      @media only screen and (min-width: 768px) {
        footer .footer-up .column-stats p {
          font-size: .9em; } }
  footer .footer-up .column-invite {
    text-align: center; }
    footer .footer-up .column-invite h3 {
      text-align: center; }
      @media only screen and (min-width: 768px) {
        footer .footer-up .column-invite h3 {
          text-align: right; } }
    @media only screen and (min-width: 768px) {
      footer .footer-up .column-invite {
        text-align: right; } }
  footer .footer-down {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-align: left;
    margin-top: 0; }
    @media only screen and (min-width: 992px) {
      footer .footer-down {
        margin-top: 4em; } }
    footer .footer-down a {
      transition: all 0.5s;
      text-decoration: none;
      color: #ffe147; }
      footer .footer-down a:hover {
        color: #e0bb00; }
    footer .footer-down p {
      margin-bottom: 2em; }

span.sources {
  font-size: .7em; }

/*# sourceMappingURL=style.css.map */
