body {
  text-align: justify;
  padding: 0;
  margin: 0;
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  color: #eee; }

.container-fluid, .row {
  padding: 0;
  margin: 0; }

.dark-overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.6; }

.navbar {
  background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black_mamba.png) #111;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  border-bottom: none;
  margin-bottom: 0;
  padding: 10px;
  font-size: 1.3em; }
  .navbar i {
    margin-right: 0.5em; }
  .navbar .navbar-brand {
    margin: 10px;
    transition: all 0.5s;
    color: #FFC700;
    font-size: 1.5em; }
    .navbar .navbar-brand:hover {
      color: #eee;
      cursor: pointer; }

.navbar-inverse .navbar-nav > li > a {
  transition: all 0.5s;
  margin: 10px;
  color: #bbbbbb;
  border-radius: 2px 2px 0 0;
  border-bottom: 3px solid transparent; }
  .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #997700;
    border-color: #e6b300;
    color: #eee;
    cursor: pointer; }

section.home {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  background: no-repeat center scroll;
  text-align: center;
  background-image: url(../img/home.jpg);
  background-size: 150%; }
  @media only screen and (min-width: 992px) {
    section.home {
      background-size: 100%;
      background-attachment: fixed; } }
  section.home .container-fluid {
    padding: 3em; }
    @media only screen and (min-width: 768px) {
      section.home .container-fluid {
        padding: 8em; } }
    @media only screen and (min-width: 992px) {
      section.home .container-fluid {
        padding: 14em 3em; } }
  section.home i {
    background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black_mamba.png) #111;
    font-size: 3em;
    margin: 0.2em;
    color: #eee;
    padding: 0.5em;
    border-radius: 100%; }
  section.home .btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black_mamba.png) #111;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 20em;
    font-size: 1em;
    transition: all 0.5s;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
    border: 2px solid transparent;
    font-weight: 900;
    border-radius: 51px;
    padding: 0.5em 1em;
    letter-spacing: 0.06em;
    display: none; }
    section.home .btn-custom:hover {
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      background-color: #cc9f00; }
    @media only screen and (min-width: 992px) {
      section.home .btn-custom {
        display: block; } }

section.about {
  background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/az_subtle.png);
  color: #252525;
  padding: 1em; }
  section.about i {
    color: #FFC700;
    margin-right: 0.5em; }
  section.about img {
    background-image: linear-gradient(to top right, #ffdd66, #FFC700, #ffdd66);
    padding: 5px;
    display: none; }
    @media only screen and (min-width: 992px) {
      section.about img {
        display: block; } }
  section.about .divider-flat {
    background-image: linear-gradient(to top right, #ffdd66, #FFC700, #ffdd66);
    display: block;
    width: 100%;
    height: 0.3em;
    margin: 1em 0; }
  @media only screen and (min-width: 992px) {
    section.about {
      padding: 15em 3em;
      padding-bottom: 5em; } }

section.work {
  background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/az_subtle.png);
  text-align: center;
  color: #252525; }
  @media only screen and (min-width: 992px) {
    section.work {
      padding: 8em 3em; } }
  section.work .project {
    background-image: linear-gradient(to top right, #ffdd66, #FFC700, #ffdd66);
    position: relative;
    height: 300px;
    border: 3px solid #FFC700;
    margin: 1em;
    transition: all 1s;
    overflow: hidden; }
  section.work .tile-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }
  section.work .tile-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top right, #ffdd66, #FFC700, #ffdd66);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    transition: all 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    top: -300px;
    color: #eee; }
    section.work .tile-2 i {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black_mamba.png) #111;
      font-size: 3em;
      padding: 0.5em;
      display: block;
      color: #eee;
      border: 3px solid #FFC700;
      border-radius: 100%; }
    section.work .tile-2 .content {
      background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black_mamba.png) #111;
      margin-top: 1em;
      border: 3px solid #FFC700;
      border-radius: 1em;
      padding: 1em;
      width: 90%; }
      section.work .tile-2 .content ul {
        text-align: left;
        list-style-type: square; }
  section.work .project:hover > .tile-1 {
    top: 300px; }
  section.work .project:hover > .tile-2 {
    top: 0; }
  section.work .house {
    background: url(../img/house.jpg) center no-repeat;
    background-size: cover; }
  section.work .paint {
    background: url(../img/paint.jpg) center no-repeat;
    background-size: cover; }
  section.work .plumb {
    background: url(../img/plumb.jpg) center no-repeat;
    background-size: cover; }

section.contact {
  background: url("../img/contact.jpg") no-repeat center;
  background-attachment: scroll;
  background-size: 100%;
  position: relative;
  color: #eee;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    section.contact {
      background-attachment: fixed; } }
  section.contact a {
    background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black_mamba.png) #111;
    text-decoration: none;
    transition: all 0.5s;
    color: #eee;
    display: inline-block;
    margin: 0.1em;
    padding-top: 0.3em;
    border-radius: 100%;
    border: 1px solid #eee;
    width: 2.1em;
    height: 2.1em;
    font-size: 1.5em;
    position: relative; }
    section.contact a:hover {
      color: #FFC700;
      border-color: #FFC700;
      cursor: pointer; }
    @media only screen and (min-width: 992px) {
      section.contact a {
        padding-top: 0.5em;
        width: 2.5em;
        height: 2.5em;
        font-size: 3em;
        border: 3px solid #eee; } }
  section.contact .container-fluid {
    padding: 1em; }
    @media only screen and (min-width: 992px) {
      section.contact .container-fluid {
        padding: 8em 3em; } }

footer {
  background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black_mamba.png) #111;
  padding: 1em; }
  @media only screen and (min-width: 992px) {
    footer {
      padding: 5em 3em; } }
  footer .footer-up a {
    display: inline-block;
    text-align: center;
    width: 1.8em;
    height: 1.8em;
    font-size: 1.5em;
    margin-right: 0.2em;
    padding-top: 0.1em;
    border-radius: 100%;
    transition: all 0.5s;
    border: 2px solid #FFC700;
    text-decoration: none;
    color: #FFC700; }
    footer .footer-up a:hover {
      color: #eee;
      border-color: #eee; }
  footer .footer-up h3 {
    text-align: center;
    margin-bottom: 0.5em; }
  footer .footer-up ul {
    text-transform: uppercase;
    list-style-type: none;
    color: #FFC700;
    margin: 0;
    padding: 0;
    text-align: center; }
  footer .footer-up .invite {
    text-align: center; }
  footer .footer-up .tile {
    padding-bottom: 2em; }
  footer .footer-down {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 3em 0;
    text-align: center;
    margin-top: 0; }
    @media only screen and (min-width: 992px) {
      footer .footer-down {
        margin-top: 4em; } }
    footer .footer-down a {
      transition: all 0.5s;
      text-decoration: none;
      color: #FFC700; }
      footer .footer-down a:hover {
        color: #997700; }

/*# sourceMappingURL=style.css.map */
