body {
  text-align: center;
  font-weight: 400;
  padding: 0;
  margin: 0;
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  color: #eaeaea; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

.container-fluid, .row {
  padding: 0;
  margin: 0; }

.dark-overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.7; }

.highlight {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  color: #ffd914; }

.navbar {
  background: #050505;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  border-bottom: none;
  margin-bottom: 0;
  padding: 10px;
  font-size: 1.3em; }
  .navbar i {
    margin-right: 0.5em; }
  .navbar .navbar-brand {
    transition: color .3s, background .3s, transform .3s;
    margin: 10px;
    color: #ffe147;
    font-size: 1.5em; }
    .navbar .navbar-brand:hover {
      transform: scale(1.1);
      color: #ffed94;
      cursor: pointer; }

.navbar-inverse .navbar-nav > li > a {
  transition: all 0.5s;
  margin: 10px 15px;
  color: #b7b7b7;
  border-radius: 2px 2px 0 0;
  border-bottom: 3px solid transparent; }
  .navbar-inverse .navbar-nav > li > a:hover {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    border-color: #ffdd2e;
    color: #ffe147;
    cursor: pointer; }

section.home {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  background: no-repeat center scroll;
  text-align: center;
  background-image: url(../img/home.jpg);
  background-size: cover; }
  @media only screen and (min-width: 992px) {
    section.home {
      background-size: 100%;
      background-attachment: fixed; } }
  section.home .container-fluid {
    padding: 3em; }
    @media only screen and (min-width: 768px) {
      section.home .container-fluid {
        padding: 8em; } }
    @media only screen and (min-width: 992px) {
      section.home .container-fluid {
        padding: 10em 3em; } }
  section.home h2 {
    font-size: 2em; }
    @media only screen and (min-width: 768px) {
      section.home h2 {
        font-size: 3em; } }
  section.home i {
    background: #050505;
    font-size: 3em;
    margin: 0.2em;
    color: #eaeaea;
    padding: 0.5em;
    border-radius: 100%; }
  section.home .btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #050505;
    color: #eaeaea;
    font-size: 1em;
    width: 90%;
    transition: all 0.5s;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1em 3em 1.2em 3em;
    letter-spacing: 0.06em;
    border: 3px solid transparent; }
    section.home .btn-custom:hover {
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      border-bottom-color: #ffe147;
      color: #ffe147; }
    @media only screen and (min-width: 768px) {
      section.home .btn-custom {
        width: 60%; } }
    @media only screen and (min-width: 992px) {
      section.home .btn-custom {
        width: 30%; } }

section.about {
  background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/az_subtle.png);
  color: #252525;
  padding: 1em; }
  section.about h1, section.about h2 {
    text-align: center;
    margin-bottom: 0; }
  section.about h2 {
    text-align: center;
    padding: 0 0.5em;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 0; }
  section.about h3 {
    text-align: justify;
    padding: 0 0.5em; }
    @media only screen and (min-width: 768px) {
      section.about h3 {
        padding: 0 3em;
        padding-right: 2em; } }
  section.about i {
    color: #fad100;
    margin-right: 0.5em; }
  section.about img {
    background-image: linear-gradient(to top right, #fff2ad, #ffe147, #fff2ad);
    padding: 1em;
    margin-top: 0.5em;
    display: none; }
    @media only screen and (min-width: 992px) {
      section.about img {
        display: block; } }
  @media only screen and (min-width: 992px) {
    section.about {
      padding: 15em 3em;
      padding-bottom: 5em; } }

section.work {
  background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/az_subtle.png);
  text-align: center;
  color: #252525;
  padding: 3em 1em; }
  @media only screen and (min-width: 992px) {
    section.work {
      padding: 8em 3em; } }
  section.work .project {
    background-image: linear-gradient(to top right, #fff2ad, #ffe147, #fff2ad);
    position: relative;
    height: 300px;
    border: 3px solid #ffe147;
    margin: -15px;
    transition: all 1s;
    overflow: hidden; }
  section.work .tile-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }
  section.work .tile-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top right, #fff2ad, #ffe147, #fff2ad);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    transition: all 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    top: -300px;
    color: #eaeaea; }
    section.work .tile-2 i {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      background: #050505;
      font-size: 3em;
      padding: 0.5em;
      display: block;
      color: #eaeaea;
      border: 3px solid #ffe147;
      border-radius: 100%; }
    section.work .tile-2 .content {
      background: #050505;
      margin-top: 1em;
      border: 3px solid #ffe147;
      border-radius: 1em;
      padding: 1em;
      width: 90%; }
      section.work .tile-2 .content ul {
        text-align: left;
        list-style-type: square; }
  section.work .project:hover > .tile-1 {
    top: 300px; }
  section.work .project:hover > .tile-2 {
    top: 0; }
  section.work .house {
    background: url(../img/house.jpg) center no-repeat;
    background-size: cover; }
  section.work .paint {
    background: url(../img/paint.jpg) center no-repeat;
    background-size: cover; }
  section.work .plumb {
    background: url(../img/plumb.jpg) center no-repeat;
    background-size: cover; }

section.contact {
  background: url("../img/contact.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  color: #eaeaea;
  text-align: center;
  background-attachment: fixed;
  margin-bottom: -3px; }
  section.contact h1 {
    font-size: 2.5em;
    margin: 1em; }
    @media only screen and (min-width: 768px) {
      section.contact h1 {
        font-size: 3em; } }
  section.contact .container-fluid {
    padding: 1em; }
    @media only screen and (min-width: 992px) {
      section.contact .container-fluid {
        padding: 8em 3em; } }
  section.contact form {
    font-size: 1.5em; }
    section.contact form input, section.contact form textarea {
      background: #0c0c0c;
      outline: none;
      border: 1px solid #252525;
      margin: 1em 0;
      min-height: 2em;
      text-align: center;
      color: #8b8b8b;
      font-size: .8em; }
    section.contact form span.fa {
      margin-right: 0.5em;
      color: #ffe147; }
  section.contact .form-info .form-photo {
    border-radius: 100%;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 1em;
    filter: grayscale(100%);
    border: 3px solid #252525; }
  section.contact .form-info input#contactform-email, section.contact .form-info input#contactform-name {
    width: 100%; }
  section.contact .form-message {
    padding-top: 0; }
    @media only screen and (min-width: 992px) {
      section.contact .form-message {
        padding-top: 3em; } }
    section.contact .form-message .contactform-message {
      padding: 1em 0;
      padding-top: 2em;
      margin: 1em 0;
      width: 90%;
      min-height: 13em; }
    section.contact .form-message input[type="submit"] {
      transition: color .3s, background .3s, transform .3s;
      background: #ffe147;
      color: #0c0c0c;
      padding: 0.5em 2em;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1em;
      border-radius: 5px; }
      section.contact .form-message input[type="submit"]:hover {
        cursor: pointer; }

footer {
  background: #050505;
  padding: 1em; }
  @media only screen and (min-width: 992px) {
    footer {
      padding: 5em 3em; } }
  footer .footer-up a {
    display: inline-block;
    text-align: center;
    width: 1.8em;
    height: 1.8em;
    font-size: 1.5em;
    margin-right: 0.2em;
    padding-top: 0.1em;
    border-radius: 100%;
    transition: all 0.5s;
    border: 2px solid #ffe147;
    text-decoration: none;
    color: #ffe147; }
    footer .footer-up a:hover {
      color: #eaeaea;
      border-color: #eaeaea; }
  footer .footer-up h3 {
    text-align: center;
    margin-bottom: 0.5em; }
  footer .footer-up ul {
    text-transform: uppercase;
    list-style-type: none;
    color: #ffe147;
    margin: 0;
    padding: 0;
    text-align: center; }
  footer .footer-up .invite {
    text-align: center; }
  footer .footer-up .tile {
    padding-bottom: 2em; }
  footer .footer-down {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 3em 0;
    text-align: center;
    margin-top: 0; }
    @media only screen and (min-width: 992px) {
      footer .footer-down {
        margin-top: 4em; } }
    footer .footer-down a {
      transition: all 0.5s;
      text-decoration: none;
      color: #ffe147; }
      footer .footer-down a:hover {
        color: #e0bb00; }

/*# sourceMappingURL=style.css.map */
